<h1>Edit article</h1>

<%= form_for :article, url: article_path(@article), method: :put do |f|%>
<p>
  <%= f.label :title%><br/>
  <%= f.text_field :title, :class => "form-control"%>
</p>
<p>
 <label for="article_content">Article</label><br/>
  <%= f.text_area :content, :class => "form-control"%>
</p>
<p>
  <%= f.submit :class => "btn btn-warning btn-sm"%>
</p>
<%end%>