
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="alert alert-warning" role="alert">

<h3><%=@article.title%></h3>
<div><%=@article.content%></div>
</div>
<%# <a href="/articles">Show all articles</a> %>
<%= link_to 'Show All Articles', articles_path%>
<%= button_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }%>
<hr/>

<%= form_for [ @article, @article.comments.build ] do |f| %>
  <p>
    <%= f.label :author %><br/>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<% @article.comments.reverse.each do |comment| %>
<div class="alert alert-info" role="alert">
<h4><%=comment.author%></h4>
<div><%=comment.body%></div>
</div>
<%end%>
</body>