
<head>
</head>

<body>

<div class="container">
<div class="alert alert-warning" role="alert">

<h3><%=@article.title%></h3>
<div><%=@article.content%></div>
<div>posted by <a href="<%=@user%>"><%=@user.username%></a></div>
</div>

<a href="<%=articles_path%>" class="badge badge-dark">Show all articles</a>

<%= button_to 'Delete', article_path(@article), :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }%>
<hr/>

<%= form_for [ @article, @article.comments.build ] do |f| %>
  <p>
    <%= f.hidden_field :author, :value => current_user.username%>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body, :class => "form-control"%>
  </p>
  <p>
    <%= f.submit 'Submit', :class => "btn btn-success" %>
  </p>
<% end %>

<% @article.comments.reverse.each do |comment| %>
<div class="alert alert-info" role="alert">
<h4><%=comment.author%></h4>
<div><%=comment.body%></div>
</div>
<%end%>
</div>
</body>