
<head>
</head>

<body>

<h1>Sup!</h1>
<div class="alert alert-warning" role="alert">

<h3><%=@article.title%></h3>
<div><%=@article.content%></div>
</div>

<a href="<%=articles_path%>" class="badge badge-dark">Show all articles</a>

<%= button_to 'Delete', article_path(@article), :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }%>
<hr/>

<%= form_for [ @article, @article.comments.build ] do |f| %>
  <p>
    <%= f.label :author %><br/>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<% @article.comments.reverse.each do |comment| %>
<div class="alert alert-info" role="alert">
<h4><%=comment.author%></h4>
<div><%=comment.body%></div>
</div>
<%end%>
</body>