<h3>Contact with us:)</h3>

<% if @contact%>
<ul id="contacterrors">
<% @contact.errors.full_messages.each do |er|%>
  <li><%=er%></li>
<%end%>
</ul>
<%end%>

<p>
  <%= form_for :contact, url: '/contacts' do |f|%>
  <label for="contact_email">Email:</label><br/>
  <%= f.text_field :email%>
</p>
<p>
 <label for="contact_message">Your message:</label><br/>
  <%= f.text_area :message%>
</p>
<p>
  <%= f.submit 'Send Message '%>
</p>
<%end%>